tr {
  td {
    button {
      position: relative;
      padding: 2px 4px;
      width: 100%;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      cursor: pointer;
      text-decoration: none;
    }
    button:hover {
      cursor: pointer;
    }
  }
}