.cardHeader {
  position: relative;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  cursor: pointer;
  .numbers {
    h4{
      margin-bottom: 0;
      margin-top: 0;
      font-weight: bold;
      font-size: x-large;
    }
  }
  &.admin {
    padding-top: 0;
    padding-bottom: 0;
  }
}



