.formContainer {
  transition: 0.9s;
  padding: 90px 20px 20px 80px;
  background: #f5f5f5;
  > div {

  }
}

.cardRegisterHeader {
  position: relative;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  cursor: pointer;
  .numbers {
    h4{
      margin-bottom: 0;
      margin-top: 0;
      font-weight: bold;
      font-size: x-large;
    }
  }
}

.cardRegister {
  transition: 0.5s;
  display: block;
}

.formContainer.active {
  transition: 0.9s;
  padding-left: 260px;
}