.inputContainer {
  padding: 10px 5px;
  h4 {
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
  }
}
.formLogin {
  div:nth-child(1) {
    margin-bottom: 1.75rem;
  }
}